body {
  margin-left: 1rem;
  padding: 0;
}

p {
  font: var(--font-family-sans-serif);
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#heading {
  justify-content: center;
  display: flex;
}

button {
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 100%;
}

label {
  padding-right: 1rem;
}

img {
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
}

#dragAndDropArea {
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
}

