body {
  margin-left: 1rem;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#heading {
  justify-content: center;
  display: flex;
}

button.primary {
  padding: 1rem 0;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 100%;
}

.btn-primary {
  width: 50%;
}

.row {
  display: inherit !important;
  padding-top: 2rem;
}

label {
  padding-right: 1rem;
}

img {
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
}

